body{
    background-color: rgb(231, 193, 236);
    width: 200px;
    margin: auto;
}

h1{
    background-color: rgb(208, 185, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

h2{
    background-color: rgb(218, 218, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-indent: 10px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}